<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap'); 
        @import url('https://fonts.googleapis.com/css2?family=Imprima&family=Nerko+One&display=swap');
        
        .text-shadows{
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        }
        .subtitle{
            font-family: 'Imprima', sans-serif; 
            text-align: center;
        }
        .vl {
            border-left: 4px solid #7c340c;
            height: 225px;
        }
    </style>
    <title>Staff | Adopt A Friend</title>

</head>
<body style="background-image: url('/static/image/staffbg.png'); background-size: cover;">
    <a href="javascript:history.back()" class="text-black text-2xl font-bold ml-10 my-14" style="font-family: 'Imprima';">
        <button class="mt-10 ml-10 transition ease-in-out delay-150 font-semibold px-8 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
              </svg>
        </button>
     </a>
    <div class="mx-64 mt-10 mb-20 py-12 px-16 bg-white rounded-3xl shadow-lg">
        <h1 class=" text-black text-5xl text-center pb-6" style="font-family: 'Imprima'; font-weight: bold;">Pet Edit Form</h1>
        <form action="" method="POST" enctype="multipart/form-data" class="grid grid-cols-2 gap-x-10" style="font-family: 'Imprima'; font-size: 18px;">
            <div class="col-span-2">
                <h1 class=" text-black text-3xl" style="font-family: 'Imprima'; font-weight: bold;">Edit Pet Information:</h1>
                <p class="border-b-2 mb-6 mt-6 border-black"></p>
            </div>
            {% csrf_token %}
            <!-- PET INFORMATION -->
            <div>
                {{ pet_form.petName.label_tag }}
                {{ pet_form.petName }}
            </div>
            <div>
                {{ pet_form.animalType.label_tag }}
                {{ pet_form.animalType }}
            </div>
            <div>
                {{ pet_form.breed.label_tag }}
                {{ pet_form.breed }}
            </div>
            <div>
                {{ pet_form.petAge.label_tag }}
                {{ pet_form.petAge }}
            </div>
            <div>
                {{ pet_form.petGender.label_tag }}
                {{ pet_form.petGender }}
            </div>
            <div>
                {{ pet_form.petSize.label_tag }}
                {{ pet_form.petSize }}
            </div>
            <div>
                {{ pet_form.petPersonality.label_tag }}
                {{ pet_form.petPersonality }}
            </div>
            <div>
                {{ pet_form.petColor.label_tag }}
                {{ pet_form.petColor }}
            </div>
            <div class="col-span-2">
                {{ pet_form.petDescription.label_tag }}
                {{ pet_form.petDescription }}
            </div>
            <div>
                {{ pet_form.isTrained.label_tag }}
                {{ pet_form.isTrained }}
            </div>

            <!-- PET MEDICAL -->
            <div class="col-span-2 mt-14">
                <h1 class=" text-black text-3xl" style="font-family: 'Imprima'; font-weight: bold;">Edit Pet Medical Information:</h1>
                <p class="border-b-2 mb-6 mt-6 border-black"></p>
            </div>
            <div class="col-span-2">
                {{ medical_form.petWeight.label_tag }}
                {{ medical_form.petWeight }}
            </div>
            <div>
                {{ medical_form.healthCondition.label_tag }}
                {{ medical_form.healthCondition }}
            </div>
            <div>
                {{ medical_form.disease.label_tag }}
                {{ medical_form.disease }}
            </div>
            <div class="col-span-2">
                {{ medical_form.comment.label_tag }}
                {{ medical_form.comment }}
            </div>
            <div>
                {{ medical_form.isVaccinated.label_tag }} <br>
                {{ medical_form.isVaccinated }}
            </div>
            <div>
                {{ medical_form.isNeutered_or_Spayed.label_tag }} <br>
                {{ medical_form.isNeutered_or_Spayed }}
            </div>

            <!-- PET IMAGE -->
            <div class="col-span-2 mt-14">
                <h1 class=" text-black text-3xl" style="font-family: 'Imprima'; font-weight: bold;">Edit Pet Images:</h1>
                <p class="border-b-2 mb-6 mt-6 border-black"></p>
            </div>

            {{ ImageFormset.management_form }}

            {% for form in ImageFormset.forms %}
                <div class="my-2">
                    {{ form.as_p }}
                </div>
            {% endfor %}

            <div></div>
            <div class="flex justify-end">
                <button onclick="confirmAction()" type="submit" class="font-semibold text-white px-16 py-3 mt-6 rounded-md bg-amber-900 hover:bg-yellow-800" onclick="confirmAction()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>


<script>
    function confirmAction() {
        var result = confirm("Are you sure you want to perform this action?");
        if (result == true)
        {
            window.location.href = "{% url 'staff_pet_dashboard' %}";
        }
        else {
            
        }
        console.log(result)
    }
</script>

</html>