{% extends 'staff/base.html' %}
{% load static %}

{% block title %} Staff Dashboard {% endblock %}

{% block image %} <img src="{% static '\image\dashboard.png' %}" alt="" class="absolute"> {% endblock %}

{% block content %}

<a href="{% url 'staff_dashboard' %}" class="relative ml-40 mt-10">
    <button class="shadow-inner transition ease-in-out delay-150 font-semibold text-white px-9 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300" style="background-color: #f89651;">
        Dashboard                   
    </button>
</a>

<div>
    <h1 class="relative ml-40 mt-10 text-7xl text-shadows text-gray-50 font-bold" style="font-family: 'Imprima'"> 
        Application Dashboard 
    </h1>
</div>

<div class="mx-40 mt-5 relative">
    <div class="h-32 bg-white rounded-3xl shadow-lg flex justify-between" style="font-family: 'Imprima';">
        <h1 class="text-7xl py-5 pl-20 total-pets-count">{{ total_application_count }}</h1>
        <h1 class="text-3xl py-10 pr-20 flex justify-end">Applications</h1>
    </div>
</div>

<div class="mt-16 mb-16 py-12 px-10 mx-40 bg-white rounded-3xl relative shadow-lg" style="font-family: 'Imprima';">
    <div class="flex justify-between">
        <div class="flex">            
        </div>

        <form method="GET" action="{% url 'pet_page' %}" class="mb-4">
            <input type="text" name="q" placeholder="Search pets..." class="p-2 border border-gray-300 rounded">
            <button type="submit" class="shadow-inner transition ease-in-out delay-150 font-semibold text-white px-5 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300" style="background-color: #f89651;">Search</button>
        </form>
    </div>
    
    <!-- CARD -->
    
    <div class="grid grid-cols-2 gap-x-6 justify-center mx-auto max-w-screen-xl">
        {% for application in application %}
    <div class="w-full h-60 p-3 rounded-2xl shadow-lg mt-6 grid grid-cols-2 bg-white">
        <div class="h-full bg-gray-200 rounded-xl" style="background-image: url('{{ application.picture.url }}'); background-size: cover;"></div>
        <div class="ml-5 flex flex-col">
        {% if application.status == "Pending" %}
            <div class="bg-yellow-500 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">Pending</h1>
            </div>
        {% elif application.status == "On Hold" %}
            <div class="bg-blue-500 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">On Hold</h1>
            </div>
        {% elif application.status == "Accepted" %}
            <div class="bg-green-700 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">Accepted</h1>
            </div>
        {% elif application.status == "Rejected" %}
            <div class="bg-red-500 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">Rejected</h1>
            </div>
        {% elif application.status == "Interviewing" %}
            <div class="bg-purple-500 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">Interviewing</h1>
            </div>
        {% elif application.status == "Evaluating" %}
            <div class="bg-indigo-500 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">Evaluating</h1>
            </div>
        {% elif application.status == "Completed" %}
            <div class="bg-gray-500 rounded-md text-gray-600 py-2 px-5">
                <h1 class="text-white font-bold text-center">Completed</h1>
            </div>
        {% endif %}
                <div class="my-4 flex flex-col justify-between">
                    <h1 class=""><b> Application ID: </b>{{application.applicationId}}</h1>
                    <h1 class=""><b> Applicant: </b>{{ application.adopteeFirstName }} {{ application.adopteeLastName }}</h1>
                    <h1 class=""><b> Adoptee: </b>{{ application.pet.petName }}</h1>
                    <h1 class=""><b> Contact Number: </b>{{ application.adopteeContactNum }}</h1>
                </div>
                {% if application.status == "Completed"%}
                    <div class="flex justify-end">
                        <div class="py-2 px-3 border-green-700 border-2 rounded-md text-gray-600 hover:scale-110 duration-200 hover:cursor-pointer">
                            <a href="{% url 'chat' applicationId=application.applicationId %}">
                                <div class="flex gap-2">
                                    <button class="text-sm text-green-700">Contact Adopter</button> 
                                </div>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="flex justify-end">
                        <div class="py-2 px-3 border-green-700 border-2 rounded-md text-gray-600 hover:scale-110 duration-200 hover:cursor-pointer">
                            <a href="{% url 'review_application' application_id=application.applicationId %}">
                                <div class="flex gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.6 14.521c-2.395 2.521-8.504-3.533-6.1-6.063c1.468-1.545-.19-3.31-1.108-4.609c-1.723-2.435-5.504.927-5.39 3.066c.363 6.746 7.66 14.74 14.726 14.042c2.21-.218 4.75-4.21 2.214-5.669c-1.267-.73-3.008-2.17-4.342-.767Z"/></svg>
                                    <button class="font-semibold text-sm text-green-700">Review</button> 
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- END CARD -->

        <div class="mt-10 flex justify-center col-span-4">
            <span class="">
                {% if pets.has_previous %}
                    <a href="?page=1">
                        <button class="text-shadows shadow-inner transition ease-in-out delay-150 font-semibold text-white px-2 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300" style="background-color: #f89651;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="White" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                            </svg>                                                    
                        </button>
                    </a>
                    <a href="?page={{ pets.previous_page_number }}">
                        <button class="text-shadows shadow-inner transition ease-in-out delay-150 font-semibold text-white px-2 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300" style="background-color: #f89651;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                            </svg>                                                                                 
                        </button>
                    </a>
                {% endif %}
        
                <span class="text-lg mx-4">
                    Page {{ pets.number }} of {{ pets.paginator.num_pages }}
                </span>
        
                {% if pets.has_next %}
                    <a href="?page={{ pets.next_page_number }}">
                        <button class="text-shadows shadow-inner transition ease-in-out delay-150 font-semibold text-white px-2 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300" style="background-color: #f89651;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                              </svg>                                                                                                                                          
                        </button>
                    </a>
                    <a href="?page={{ pets.paginator.num_pages }}">
                        <button class="text-shadows shadow-inner transition ease-in-out delay-150 font-semibold text-white px-2 py-2 rounded-md hover:-translate-y-1 hover:scale-110 duration-300" style="background-color: #f89651;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                              </svg>                                                                                                                                                                        
                        </button>
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
</div>



{% endblock %}